.footer {
    text-align: center;
    padding: 60px;
    background-color: #E3CDC0;
}

.footer a {
  color: white;
  font-size: 35px;
  text-decoration: none;
  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1)
}

.links p {
  color: #429CA5;
}

.links img {
  width: 40px;
}
